@include generate-utility-class((
  selector_prefix: '.u-flex-align-content',
  property_name: 'align-content',
  property_values: (
    'space-around',
    'space-between',
    'center',
    'flex-end',
    'flex-start',
    'stretch'
  )
));
