@include generate-utility-class((
  selector_prefix: '.u-flex-align-items',
  property_name: 'align-items',
  property_values: (
    'baseline',
    'center',
    'flex-end',
    'flex-start',
    'stretch'
  )
));
