@include generate-utility-class((
  selector_prefix: '.u-flex-direction',
  property_name: 'flex-direction',
  property_values: (
    'column',
    'column-reverse',
    'row',
    'row-reverse'
  )
));
