@include generate-utility-class((
  selector_prefix: '.u-flex-justify-content',
  property_name: 'justify-content',
  property_values: (
    'flex-start',
    'flex-end',
    'center',
    'space-around',
    'space-between'
  )
));
