ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.u-flex-align-content-space-around {
  align-content: space-around;
}

.u-flex-align-content-space-between {
  align-content: space-between;
}

.u-flex-align-content-center {
  align-content: center;
}

.u-flex-align-content-flex-end {
  align-content: flex-end;
}

.u-flex-align-content-flex-start {
  align-content: flex-start;
}

.u-flex-align-content-stretch {
  align-content: stretch;
}

@media (max-width: 639px) {
  .u-flex-align-content-space-around\@s {
    align-content: space-around;
  }
  .u-flex-align-content-space-between\@s {
    align-content: space-between;
  }
  .u-flex-align-content-center\@s {
    align-content: center;
  }
  .u-flex-align-content-flex-end\@s {
    align-content: flex-end;
  }
  .u-flex-align-content-flex-start\@s {
    align-content: flex-start;
  }
  .u-flex-align-content-stretch\@s {
    align-content: stretch;
  }
}

@media (min-width: 640px) and (max-width: 1019px) {
  .u-flex-align-content-space-around\@m {
    align-content: space-around;
  }
  .u-flex-align-content-space-between\@m {
    align-content: space-between;
  }
  .u-flex-align-content-center\@m {
    align-content: center;
  }
  .u-flex-align-content-flex-end\@m {
    align-content: flex-end;
  }
  .u-flex-align-content-flex-start\@m {
    align-content: flex-start;
  }
  .u-flex-align-content-stretch\@m {
    align-content: stretch;
  }
}

@media (min-width: 1020px) {
  .u-flex-align-content-space-around\@l {
    align-content: space-around;
  }
  .u-flex-align-content-space-between\@l {
    align-content: space-between;
  }
  .u-flex-align-content-center\@l {
    align-content: center;
  }
  .u-flex-align-content-flex-end\@l {
    align-content: flex-end;
  }
  .u-flex-align-content-flex-start\@l {
    align-content: flex-start;
  }
  .u-flex-align-content-stretch\@l {
    align-content: stretch;
  }
}

@media (min-width: 1020px) and (max-width: 1199px) {
  .u-flex-align-content-space-around\@xl {
    align-content: space-around;
  }
  .u-flex-align-content-space-between\@xl {
    align-content: space-between;
  }
  .u-flex-align-content-center\@xl {
    align-content: center;
  }
  .u-flex-align-content-flex-end\@xl {
    align-content: flex-end;
  }
  .u-flex-align-content-flex-start\@xl {
    align-content: flex-start;
  }
  .u-flex-align-content-stretch\@xl {
    align-content: stretch;
  }
}

@media (min-width: 1200px) {
  .u-flex-align-content-space-around\@xxl {
    align-content: space-around;
  }
  .u-flex-align-content-space-between\@xxl {
    align-content: space-between;
  }
  .u-flex-align-content-center\@xxl {
    align-content: center;
  }
  .u-flex-align-content-flex-end\@xxl {
    align-content: flex-end;
  }
  .u-flex-align-content-flex-start\@xxl {
    align-content: flex-start;
  }
  .u-flex-align-content-stretch\@xxl {
    align-content: stretch;
  }
}

.u-flex-align-items-baseline {
  align-items: baseline;
}

.u-flex-align-items-center {
  align-items: center;
}

.u-flex-align-items-flex-end {
  align-items: flex-end;
}

.u-flex-align-items-flex-start {
  align-items: flex-start;
}

.u-flex-align-items-stretch {
  align-items: stretch;
}

@media (max-width: 639px) {
  .u-flex-align-items-baseline\@s {
    align-items: baseline;
  }
  .u-flex-align-items-center\@s {
    align-items: center;
  }
  .u-flex-align-items-flex-end\@s {
    align-items: flex-end;
  }
  .u-flex-align-items-flex-start\@s {
    align-items: flex-start;
  }
  .u-flex-align-items-stretch\@s {
    align-items: stretch;
  }
}

@media (min-width: 640px) and (max-width: 1019px) {
  .u-flex-align-items-baseline\@m {
    align-items: baseline;
  }
  .u-flex-align-items-center\@m {
    align-items: center;
  }
  .u-flex-align-items-flex-end\@m {
    align-items: flex-end;
  }
  .u-flex-align-items-flex-start\@m {
    align-items: flex-start;
  }
  .u-flex-align-items-stretch\@m {
    align-items: stretch;
  }
}

@media (min-width: 1020px) {
  .u-flex-align-items-baseline\@l {
    align-items: baseline;
  }
  .u-flex-align-items-center\@l {
    align-items: center;
  }
  .u-flex-align-items-flex-end\@l {
    align-items: flex-end;
  }
  .u-flex-align-items-flex-start\@l {
    align-items: flex-start;
  }
  .u-flex-align-items-stretch\@l {
    align-items: stretch;
  }
}

@media (min-width: 1020px) and (max-width: 1199px) {
  .u-flex-align-items-baseline\@xl {
    align-items: baseline;
  }
  .u-flex-align-items-center\@xl {
    align-items: center;
  }
  .u-flex-align-items-flex-end\@xl {
    align-items: flex-end;
  }
  .u-flex-align-items-flex-start\@xl {
    align-items: flex-start;
  }
  .u-flex-align-items-stretch\@xl {
    align-items: stretch;
  }
}

@media (min-width: 1200px) {
  .u-flex-align-items-baseline\@xxl {
    align-items: baseline;
  }
  .u-flex-align-items-center\@xxl {
    align-items: center;
  }
  .u-flex-align-items-flex-end\@xxl {
    align-items: flex-end;
  }
  .u-flex-align-items-flex-start\@xxl {
    align-items: flex-start;
  }
  .u-flex-align-items-stretch\@xxl {
    align-items: stretch;
  }
}

.u-flex-align-self-auto {
  align-self: auto;
}

.u-flex-align-self-stretch {
  align-self: stretch;
}

.u-flex-align-self-baseline {
  align-self: baseline;
}

.u-flex-align-self-flex-start {
  align-self: flex-start;
}

.u-flex-align-self-flex-end {
  align-self: flex-end;
}

.u-flex-align-self-center {
  align-self: center;
}

@media (max-width: 639px) {
  .u-flex-align-self-auto\@s {
    align-self: auto;
  }
  .u-flex-align-self-stretch\@s {
    align-self: stretch;
  }
  .u-flex-align-self-baseline\@s {
    align-self: baseline;
  }
  .u-flex-align-self-flex-start\@s {
    align-self: flex-start;
  }
  .u-flex-align-self-flex-end\@s {
    align-self: flex-end;
  }
  .u-flex-align-self-center\@s {
    align-self: center;
  }
}

@media (min-width: 640px) and (max-width: 1019px) {
  .u-flex-align-self-auto\@m {
    align-self: auto;
  }
  .u-flex-align-self-stretch\@m {
    align-self: stretch;
  }
  .u-flex-align-self-baseline\@m {
    align-self: baseline;
  }
  .u-flex-align-self-flex-start\@m {
    align-self: flex-start;
  }
  .u-flex-align-self-flex-end\@m {
    align-self: flex-end;
  }
  .u-flex-align-self-center\@m {
    align-self: center;
  }
}

@media (min-width: 1020px) {
  .u-flex-align-self-auto\@l {
    align-self: auto;
  }
  .u-flex-align-self-stretch\@l {
    align-self: stretch;
  }
  .u-flex-align-self-baseline\@l {
    align-self: baseline;
  }
  .u-flex-align-self-flex-start\@l {
    align-self: flex-start;
  }
  .u-flex-align-self-flex-end\@l {
    align-self: flex-end;
  }
  .u-flex-align-self-center\@l {
    align-self: center;
  }
}

@media (min-width: 1020px) and (max-width: 1199px) {
  .u-flex-align-self-auto\@xl {
    align-self: auto;
  }
  .u-flex-align-self-stretch\@xl {
    align-self: stretch;
  }
  .u-flex-align-self-baseline\@xl {
    align-self: baseline;
  }
  .u-flex-align-self-flex-start\@xl {
    align-self: flex-start;
  }
  .u-flex-align-self-flex-end\@xl {
    align-self: flex-end;
  }
  .u-flex-align-self-center\@xl {
    align-self: center;
  }
}

@media (min-width: 1200px) {
  .u-flex-align-self-auto\@xxl {
    align-self: auto;
  }
  .u-flex-align-self-stretch\@xxl {
    align-self: stretch;
  }
  .u-flex-align-self-baseline\@xxl {
    align-self: baseline;
  }
  .u-flex-align-self-flex-start\@xxl {
    align-self: flex-start;
  }
  .u-flex-align-self-flex-end\@xxl {
    align-self: flex-end;
  }
  .u-flex-align-self-center\@xxl {
    align-self: center;
  }
}

.u-flex {
  display: flex;
}

.u-flex-inline {
  display: inline-flex;
}

.u-flex-direction-column {
  flex-direction: column;
}

.u-flex-direction-column-reverse {
  flex-direction: column-reverse;
}

.u-flex-direction-row {
  flex-direction: row;
}

.u-flex-direction-row-reverse {
  flex-direction: row-reverse;
}

@media (max-width: 639px) {
  .u-flex-direction-column\@s {
    flex-direction: column;
  }
  .u-flex-direction-column-reverse\@s {
    flex-direction: column-reverse;
  }
  .u-flex-direction-row\@s {
    flex-direction: row;
  }
  .u-flex-direction-row-reverse\@s {
    flex-direction: row-reverse;
  }
}

@media (min-width: 640px) and (max-width: 1019px) {
  .u-flex-direction-column\@m {
    flex-direction: column;
  }
  .u-flex-direction-column-reverse\@m {
    flex-direction: column-reverse;
  }
  .u-flex-direction-row\@m {
    flex-direction: row;
  }
  .u-flex-direction-row-reverse\@m {
    flex-direction: row-reverse;
  }
}

@media (min-width: 1020px) {
  .u-flex-direction-column\@l {
    flex-direction: column;
  }
  .u-flex-direction-column-reverse\@l {
    flex-direction: column-reverse;
  }
  .u-flex-direction-row\@l {
    flex-direction: row;
  }
  .u-flex-direction-row-reverse\@l {
    flex-direction: row-reverse;
  }
}

@media (min-width: 1020px) and (max-width: 1199px) {
  .u-flex-direction-column\@xl {
    flex-direction: column;
  }
  .u-flex-direction-column-reverse\@xl {
    flex-direction: column-reverse;
  }
  .u-flex-direction-row\@xl {
    flex-direction: row;
  }
  .u-flex-direction-row-reverse\@xl {
    flex-direction: row-reverse;
  }
}

@media (min-width: 1200px) {
  .u-flex-direction-column\@xxl {
    flex-direction: column;
  }
  .u-flex-direction-column-reverse\@xxl {
    flex-direction: column-reverse;
  }
  .u-flex-direction-row\@xxl {
    flex-direction: row;
  }
  .u-flex-direction-row-reverse\@xxl {
    flex-direction: row-reverse;
  }
}

.u-flex-grow-0 {
  flex-grow: 0;
}

.u-flex-grow-1 {
  flex-grow: 1;
}

.u-flex-grow-2 {
  flex-grow: 2;
}

@media (max-width: 639px) {
  .u-flex-grow-0\@s {
    flex-grow: 0;
  }
  .u-flex-grow-1\@s {
    flex-grow: 1;
  }
  .u-flex-grow-2\@s {
    flex-grow: 2;
  }
}

@media (min-width: 640px) and (max-width: 1019px) {
  .u-flex-grow-0\@m {
    flex-grow: 0;
  }
  .u-flex-grow-1\@m {
    flex-grow: 1;
  }
  .u-flex-grow-2\@m {
    flex-grow: 2;
  }
}

@media (min-width: 1020px) {
  .u-flex-grow-0\@l {
    flex-grow: 0;
  }
  .u-flex-grow-1\@l {
    flex-grow: 1;
  }
  .u-flex-grow-2\@l {
    flex-grow: 2;
  }
}

@media (min-width: 1020px) and (max-width: 1199px) {
  .u-flex-grow-0\@xl {
    flex-grow: 0;
  }
  .u-flex-grow-1\@xl {
    flex-grow: 1;
  }
  .u-flex-grow-2\@xl {
    flex-grow: 2;
  }
}

@media (min-width: 1200px) {
  .u-flex-grow-0\@xxl {
    flex-grow: 0;
  }
  .u-flex-grow-1\@xxl {
    flex-grow: 1;
  }
  .u-flex-grow-2\@xxl {
    flex-grow: 2;
  }
}

.u-flex-nowrap {
  flex-wrap: nowrap;
}

.u-flex-wrap {
  flex-wrap: wrap;
}

.u-flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

@media (max-width: 639px) {
  .u-flex-nowrap\@s {
    flex-wrap: nowrap;
  }
  .u-flex-wrap\@s {
    flex-wrap: wrap;
  }
  .u-flex-wrap-reverse\@s {
    flex-wrap: wrap-reverse;
  }
}

@media (min-width: 640px) and (max-width: 1019px) {
  .u-flex-nowrap\@m {
    flex-wrap: nowrap;
  }
  .u-flex-wrap\@m {
    flex-wrap: wrap;
  }
  .u-flex-wrap-reverse\@m {
    flex-wrap: wrap-reverse;
  }
}

@media (min-width: 1020px) {
  .u-flex-nowrap\@l {
    flex-wrap: nowrap;
  }
  .u-flex-wrap\@l {
    flex-wrap: wrap;
  }
  .u-flex-wrap-reverse\@l {
    flex-wrap: wrap-reverse;
  }
}

@media (min-width: 1020px) and (max-width: 1199px) {
  .u-flex-nowrap\@xl {
    flex-wrap: nowrap;
  }
  .u-flex-wrap\@xl {
    flex-wrap: wrap;
  }
  .u-flex-wrap-reverse\@xl {
    flex-wrap: wrap-reverse;
  }
}

@media (min-width: 1200px) {
  .u-flex-nowrap\@xxl {
    flex-wrap: nowrap;
  }
  .u-flex-wrap\@xxl {
    flex-wrap: wrap;
  }
  .u-flex-wrap-reverse\@xxl {
    flex-wrap: wrap-reverse;
  }
}

.u-flex-justify-content-flex-start {
  justify-content: flex-start;
}

.u-flex-justify-content-flex-end {
  justify-content: flex-end;
}

.u-flex-justify-content-center {
  justify-content: center;
}

.u-flex-justify-content-space-around {
  justify-content: space-around;
}

.u-flex-justify-content-space-between {
  justify-content: space-between;
}

@media (max-width: 639px) {
  .u-flex-justify-content-flex-start\@s {
    justify-content: flex-start;
  }
  .u-flex-justify-content-flex-end\@s {
    justify-content: flex-end;
  }
  .u-flex-justify-content-center\@s {
    justify-content: center;
  }
  .u-flex-justify-content-space-around\@s {
    justify-content: space-around;
  }
  .u-flex-justify-content-space-between\@s {
    justify-content: space-between;
  }
}

@media (min-width: 640px) and (max-width: 1019px) {
  .u-flex-justify-content-flex-start\@m {
    justify-content: flex-start;
  }
  .u-flex-justify-content-flex-end\@m {
    justify-content: flex-end;
  }
  .u-flex-justify-content-center\@m {
    justify-content: center;
  }
  .u-flex-justify-content-space-around\@m {
    justify-content: space-around;
  }
  .u-flex-justify-content-space-between\@m {
    justify-content: space-between;
  }
}

@media (min-width: 1020px) {
  .u-flex-justify-content-flex-start\@l {
    justify-content: flex-start;
  }
  .u-flex-justify-content-flex-end\@l {
    justify-content: flex-end;
  }
  .u-flex-justify-content-center\@l {
    justify-content: center;
  }
  .u-flex-justify-content-space-around\@l {
    justify-content: space-around;
  }
  .u-flex-justify-content-space-between\@l {
    justify-content: space-between;
  }
}

@media (min-width: 1020px) and (max-width: 1199px) {
  .u-flex-justify-content-flex-start\@xl {
    justify-content: flex-start;
  }
  .u-flex-justify-content-flex-end\@xl {
    justify-content: flex-end;
  }
  .u-flex-justify-content-center\@xl {
    justify-content: center;
  }
  .u-flex-justify-content-space-around\@xl {
    justify-content: space-around;
  }
  .u-flex-justify-content-space-between\@xl {
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .u-flex-justify-content-flex-start\@xxl {
    justify-content: flex-start;
  }
  .u-flex-justify-content-flex-end\@xxl {
    justify-content: flex-end;
  }
  .u-flex-justify-content-center\@xxl {
    justify-content: center;
  }
  .u-flex-justify-content-space-around\@xxl {
    justify-content: space-around;
  }
  .u-flex-justify-content-space-between\@xxl {
    justify-content: space-between;
  }
}

.c-container {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1200px) {
  .c-container--max-width {
    max-width: 1200px;
  }
}

.c-navbar__navigation-list {
  display: flex;
}

/*# sourceMappingURL=styles.css.map */
